<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstaJIRA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <InstaJIRA.My.MySettings>
            <setting name="saveLanguage0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveProject0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveTestSource0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveBuildPath0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveBuildVersion0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveServerEnv0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveHost0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveSoftware0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDatapack0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDiNumber0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveLanguage1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveProject1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveTestSource1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveBuildPath1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveBuildVersion1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveServerEnv1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveHost1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveSoftware1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDatapack1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDiNumber1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveLanguage2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveProject2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveTestSource2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveBuildPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveBuildVersion2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveServerEnv2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveHost2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveSoftware2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDatapack2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDiNumber2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveTabText0" serializeAs="String">
                <value />
            </setting>
            <setting name="saveTabText1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveTabText2" serializeAs="String">
                <value />
            </setting>
        </InstaJIRA.My.MySettings>
    </userSettings>
</configuration>
